<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--CyberArk Configuration Settings-->
    <add key="CyberArk.Enable" value="true"/>
    <add key="CyberArk.Enviroment" value="local"/>
    <add key="CyberArk.ConnectionStringPattern" value="datasource={databaseAddress};initial catalog={database};UID={username};PWD={password};MaxPool Size=2000;Connect Timeout=15;"/>
    <!--Development Environment-->
    <add key="CyberArk.Enviroment.local" value="DVL"/>
    <add key="CyberArk.AppID.local" value="uygulamadev"/>
    <add key="CyberArk.Safe.local" value="gt_uygulama_dev"/>
    <add key="CyberArk.Folder.local" value="root"/>
    <add key="CyberArk.Object.local" value="Database-uygulama"/>
    <add key="CyberArk.Reason.local" value="Connection for uygulama(DEV)"/>
    <!--Test Environment-->
    <add key="CyberArk.Enviroment.test" value="TST"/>
    <add key="CyberArk.AppID.test" value="uygulamatest"/>
    <add key="CyberArk.Safe.test" value="gt_uygulama_test"/>
    <add key="CyberArk.Folder.test" value="root"/>
    <add key="CyberArk.Object.test" value="Database-uygulama"/>
    <add key="CyberArk.Reason.test" value="Connection for uygulama(TEST)"/>
    <!--Preprod Environment-->
    <add key="CyberArk.Enviroment.preprod" value="PREPROD"/>
    <add key="CyberArk.AppID.preprod" value="uygulamapreprod"/>
    <add key="CyberArk.Safe.preprod" value="gt_uygulama_preprod"/>
    <add key="CyberArk.Folder.preprod" value="root"/>
    <add key="CyberArk.Object.preprod" value="Database-uygulama"/>
    <add key="CyberArk.Reason.preprod" value="Connection for uygulama(PREPROD)"/>
    <!--Prod Environment-->
    <add key="CyberArk.Enviroment.prod" value="PRD"/>
    <add key="CyberArk.AppID.prod" value="uygulamaprd"/>
    <add key="CyberArk.Safe.prod" value="gt_uygulama_prod"/>
    <add key="CyberArk.Folder.prod" value="root"/>
    <add key="CyberArk.Object.prod" value="Database-uygulama"/>
    <add key="CyberArk.Reason.prod" value="Connection for uygulama(PROD)"/>
  </appSettings>
  <connectionStrings>
    <add name="eurocms.db" connectionString="server=10.0.0.175,27814;database=CATCMS_SKYLIFE_TEST4;user=dotnet_owner;password=OwnerO1a*9$6#;connection timeout=30;" providerName="System.Data.SqlClient"/>
    <!--<add name="eurocms.db" connectionString="server=10.0.0.175,27814;database=CATCMS_TSKB;user=dotnet_owner;password=OwnerO1a*9$6#;connection timeout=30;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>