<!-- Start Template -->

<body style="margin:0;background:#f0f0f0;">
    <table border="0" cellpadding="0" cellspacing="0" style="background:#fff;font-size:16px;color:#404040;font-family:Arial, Tahoma, Verdana, Sans-serif;" width="100%">
        <tr>
            <td align="center" style="padding:30px 0;background:#f0f0f0;">

                <table border="0" cellpadding="0" cellspacing="0" width="740">
                    <tr></tr>
                    <tr>
                        <td style="padding:10px;">

                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <p style="font-size:22px;color:#404040;padding-left:8px;font-weight:bold;">##ApproveType## APPROVE TALEBİ</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color:#404040;">

                                        <table width="100%" cellpadding="0" cellspacing="8">
                                            <tr>
                                                <td style="border-top:1px solid #d8d8d8;" colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td style="padding:13px 0;"><strong>Gönderen Ad Soyad:</strong></td>
                                                <td style="padding:13px 0;">##senderNameSurname##</td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom:1px solid #d8d8d8;" colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td style="padding:13px 0;"><strong>Mesaj:</strong></td>
                                                <td style="padding:13px 0;">##message##</td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom:1px solid #d8d8d8;" colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td style="padding:13px 0;"><strong>İçerik Adı:</strong></td>
                                                <td style="padding:13px 0;"><a href="##contentUrl##" target="_blank">##contentName##</a></td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom:1px solid #d8d8d8;" colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td style="padding:13px 0;"><strong>İçerik Adresi (CMS):</strong></td>
                                                <td style="padding:13px 0;">##contentCMSUrl##</td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom:1px solid #d8d8d8;" colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td style="padding:13px 0;"><strong>Tarih:</strong></td>
                                                <td style="padding:13px 0;">##date##</td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom:1px solid #d8d8d8;" colspan="2"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-bottom:4px solid #e70f22;" />
                                </tr>
                            </table>


                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>

</body>


<!-- End Template -->
