@{
    ViewBag.Title = "Settings";
}

<div class="tabbable tabbable-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab_1_1">Configure SMTP Settings</a></li>
        <li class=""><a data-toggle="tab" href="#tab_1_2">Globalization</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab_1_1" class="tab-pane active">
                @Html.Partial("Mail", ViewData["Mail"] as System.Net.Configuration.SmtpSection)
        </div>
        <div id="tab_1_2" class="tab-pane">
            @Html.Partial("Globalization", ViewData["Globalization"]  as System.Web.Configuration.GlobalizationSection)
        </div>
    </div>
</div>  



