@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/Login.cshtml";
}

<h2>Success</h2>
 
<p>
    New password has been sended to your e-mail address. Please check your email.
</p>
  