@model List<EuroCMS.Admin.entity.cms_asp_select_portlets_Result>
@{ Layout = null; }
@if(Model.Count > 0)
{
    int i = 1;
    <ul>
    @foreach (var portlet in Model)
    { 
        <li>
            <a onclick="return iP(@portlet.portlet_id,'@portlet.portlet_name'),false;" href='javascript:void(0);'><img src='@Url.Content("~/Content/img/icon_article.gif")' />@portlet.portlet_name</a>
        </li>            
        i++;
    }
    </ul>
}
else
{
    <p>No Portlet Found!</p>
}

