@{
    ViewBag.Title = "Index";
}

<div class="row-fluid">
    <div class="fl">
        <p><a class="btn blue" href="@Url.Action("iyiihtimallerform","ExcelExport")">iyiihtimallerform</a></p>
    </div>
    <div class="fl">
        <p><a class="btn yellow" href="@Url.Action("otobesform","ExcelExport")">otobesform</a></p>
    </div>
    <div class="fl">
        <p><a class="btn purple" href="@Url.Action("malimusavir","ExcelExport")">malimusavir</a></p>
    </div>
</div>