@model DiffPlex.DiffBuilder.Model.DiffPaneModel


    <div class="diffPane">
        <table  class="table">
            @foreach (var diffLine in Model.Lines)
            {

            <tr>
                <td class="lineNumber">
                    @Html.Raw(diffLine.Position.HasValue? diffLine.Position.ToString() : "&nbsp;")
                </td>
                <td class="line @diffLine.Type.ToString()Line">
                    <span class="lineText">
                        @Html.Partial("DiffLine", diffLine)
                     </span>
                </td>
            </tr>
            }
        </table>
    </div>
