<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cmsAuthorization" type="EuroCMS.Configuration.AccessRuleSection" />
    <section name="EntityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EuroCMS.FrontEnd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="EuroCMS.WS" value="remote" />
    <add key="EuroCMS.Version" value="v14" />
    <add key="EuroCMS.Owner" value="Madebycat" />
    <!--<add key="EuroCMS.Key" value="W2DDh8KEKFM3wrQoZwjDmcKOAAR+w7zCgkzCn20="/>-->
    <!--<add key="EuroCMS.Key" value="BSvDl8KddUZrw6kzN0LDkcKNHQJ9w7HDj07ChC4sDzsFw6ovMm4xwrFGworCqcKIwrzDncKEUQXDiDh+wpnCgzo/wrTDogQN"/>-->
    <add key="EuroCMS.Key" value="BSvDl8KdLRQywrQmax/DisOdVwp+w6zDiU3CiWMuFHhKw6I3" />
    <!--<add key="EuroCMS.Key" value="BjnDk8OHOldyw6kxaQLDmcOCGghywqTDjV3ChHM7DzhMwqM5M3B8wr4awp3Ct8KPwqXCgsOPEgfDgzAywpTCknc8w63DtkUBwqsjw75Lw7fCmEXCqVbDgH0bwp4kPsOfw77Cs8K5wppewp7CjCbClMOCw7rCjMObwrLCnsKAMsOSwqPDlVkhAMKSwqbDp8O1N1PDqMKXwqLCqkLCgMO6w6DCvcKXw5LCrBPDksOTwrXCuy/Dhx/CmsOodmLCtQokw53Cjhp9cHnDg8K7w5QUwq8MXm0DJsKr" />-->
    <add key="EuroCMS.ErrorModule.LocalIPs" value="127.0.0.17,77.79.84.84,::1" />
    <add key="EuroCMS.AreaName" value="cms" />
    <add key="EuroMsgWebServiceUserName" value="uzc_live_wsuser" />
    <add key="EuroMsgWebServicePassword" value="6F1ECE5C" />
    <add key="HttpsHeaderKey" value="Front-End-Https" />
    <add key="HttpsHeaderValue" value="on" />
    <add key="MaxCaptchaCount" value="5" />
    <add key="URLRegex" value="*" />
    <add key="GoogleAnalyticsClientId" value="468435086708-ps3cmo1ra8q9oof4j1l5nn62qftib2hq.apps.googleusercontent.com" />
    <add key="SForceUsername" value="it@euromsg.com" />
    <add key="SForcePassword" value="#4sdfgePP232524+@@$$" />
    <add key="SForceToken" value="reHFXzBO0UfbGmuFe3tXncXlt" />
    <add key="SalesforceLogs" value="off" />
    <add key="IsAuthenticateWeb" value="off" />
    <add key="IsServiceRefresh" value="off" />
    <add key="SummaryMaxCount" value="1000" />
    <add key="SummaryMinCount" value="1000" />
    <add key="PremiumApiBaseURL" value="http://api.worldweatheronline.com/premium/v1/" />
    <add key="PremiumAPIKey" value="eaf0ee22404d44a4947133913162007" />
    <add key="LDAPStatus" value="off" />
    <add key="LDAPServer" value="LDAP://10.113.200.151" />
    
    <!--auto, http, https-->
    <add key="CanonicalUrlScheme" value="https" />
    <add key="UrlScheme" value="https" />
    <add key="SitemapOnlyURL" value="true" />
    
    <add key="KaleSalesForceURL" value="https://kale--qa.my.salesforce.com/services/" />
    <add key="KaleSalesForceGrantType" value="password" />
    <add key="KaleSalesForceClientId" value="3MVG9lcxCTdG2Vbt03cEZHmjQ7v1NaXbktt9UoA_v2F6ZspDqlBt8SS_b.4Zrb_WRpFYBCsBTLnIu8uQ.vj.z" />
    <add key="KaleSalesForceClientSecret" value="D54022CA81431D8755BC2EF34424D5277046B4A6E1CE3474AB545D4EC72557E0" />
    <add key="KaleSalesForceUsername" value="integrationuser@kale.qa" />
    <add key="KaleSalesForcePassword" value="Ritmus2019.u4kYP9ItI3BAqmaLkY5iB2kh" />

    <add key="IsHangfireActive" value="false" />
    <!--Aralarına virgül konarak çoklu tanımlanabilir.-->
    <add key="HangfireClasses" value="HangfireJobsPlugin.MilesAndSmiles" /> 
    <!--Aralarına virgül konarak çoklu tanımlanabilir. Her bir tanım | | içerisinde yer almalıdır.-->
    <!--http://www.cronmaker.com dan oluşturulabilir.-->
    <add key="HangfireCronExpressions" value="|0 0/1 * 1/1 * ? *|" /> 
  </appSettings>
  <connectionStrings>
	  <!--IKSV PROD WARNING !!!-->
	  <add connectionString="server=10.29.1.27\IKSVCMS;database=CATCMS_IKSV;user=dotnet_owner;password=OwnerO1a*9$6#;connection timeout=30;" name="eurocms.db" providerName="System.Data.SqlClient" />

	  <!--<add name="eurocms.db" connectionString="Server=DT336\SQLEXPRESS;Database=CATCMS_IKSV;Trusted_Connection=True; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="eurocms.db" connectionString="Server=localhost\SQLEXPRESS;Database=CATCMS_KALESERAMIK;User Id=cmsUser; Password=123456; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="eurocms.db" connectionString="server=CAT-KEREM-D\SQLEXPRESS;database=CATCMS_DRESORT;user=sa;password=klasik1234;connection timeout=3000;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="eurocms.db" connectionString="server=DT336\SQLEXPRESS;database=CATCMS_IKSV;user=sa;password=1q2w3eDT;connection timeout=3000;" providerName="System.Data.sqlClient" />-->
    <!--<add name="eurocms.db" connectionString="server=DT336\SQLEXPRESS;database=CATCMS_TANSAGTURK;user=sa;password=1q2w3eDT;connection timeout=3000;" providerName="System.Data.sqlClient" />-->
    <!--<add name="eurocms.db" connectionString="server=Cat-Ufuk-A\SQLEXPRESS;database=szrwebsite;user=sa;password=sa1234;connection timeout=3000;" providerName="System.Data.SqlClient" />-->
    <!--<add name="eurocms.db" connectionString="server=192.168.243.56,27814;database=CATCMS_ORAV;user=dotnet_owner;password=OwnerO1a*9$6#;connection timeout=30;" providerName="System.Data.SqlClient" />-->
  </connectionStrings> 
  <!--<system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="Logger"
             initializeData="logger.txt"
             type="System.Diagnostics.TextWriterTraceListener"
              traceOutputOptions="ProcessId, DateTime" />
      </listeners>
    </trace>
  </system.diagnostics>-->
  <cmsAuthorization>
    <accessRules>
      <rule name="test1" action="Deny" type="Site" roles="" users="" />
      <rule name="test2" action="Allow" type="Site" roles="" users="" />
    </accessRules>
  </cmsAuthorization>
  <location path="Trace.axd">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow roles="Administrator" />
      </authorization>
    </system.web>
  </location>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <healthMonitoring heartbeatInterval="1" enabled="false">
      <providers>
        <clear />
      </providers>
      <rules>
        <clear />
      </rules>
    </healthMonitoring>
    <trace enabled="false" localOnly="false" mostRecent="false" pageOutput="false" requestLimit="0" traceMode="SortByTime" writeToDiagnosticsTrace="false" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <customErrors mode="Off" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="~/Page.aspx" />
    </customErrors>
    <httpRuntime maxRequestLength="2097151" executionTimeout="3600" requestValidationMode="2.0" enableVersionHeader="false" requestPathInvalidCharacters="" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="tr-TR" uiCulture="tr-TR" />
    <urlMappings enabled="true">
      <clear />
      <add url="~/" mappedUrl="~/Page.aspx" />
      <add url="~/p/captcha.asp" mappedUrl="~/p/captcha.ashx" />
      <add url="~/p/captchav2.asp" mappedUrl="~/p/captcha.ashx" />
    </urlMappings>
    <authentication mode="Forms">
      <forms name=".CmsAuthCookie" loginUrl="/cms/Account/Login" />
    </authentication>
    <anonymousIdentification enabled="false" cookieName=".EuroCmsAnonymousIdentification" cookieTimeout="1" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="false" cookieProtection="None" cookieless="AutoDetect" domain="*" />
    <profile enabled="true" defaultProvider="CmsProfileProvider" automaticSaveEnabled="true">
      <providers>
        <clear />
        <add connectionStringName="eurocms.db" applicationName="cms" name="CmsProfileProvider" type="EuroCMS.Provider.CmsProfileProvider" />
      </providers>
      <properties>
        <clear />
        <group name="System">
          <add name="FullName" serializeAs="String" type="System.String" allowAnonymous="false" />
          <add name="Avatar" serializeAs="Binary" type="System.Byte[]" allowAnonymous="false" />
        </group>
        <add name="isResetPassword" serializeAs="String" type="System.String" allowAnonymous="false" />
        <add name="isLoggedOut" serializeAs="String" type="System.String" allowAnonymous="false" />
        <group name="Test" />
      </properties>
    </profile>
    <membership defaultProvider="CmsMembershipProvider">
      <providers>
        <clear />
        <add name="CmsMembershipProvider" type="EuroCMS.Provider.CmsMembershipProvider" connectionStringName="eurocms.db" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="5" passwordStrengthRegularExpression="^.*(?=^.{6,15}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[\W]).*$" passwordFormat="Encrypted" applicationName="cms" />
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="false" defaultProvider="CmsRoleProvider">
      <providers>
        <clear />
        <add name="CmsRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="eurocms.db" applicationName="cms" />
      </providers>
    </roleManager>
    <!--<sessionState mode="InProc" customProvider="CmsSessionStateProvider" timeout="300000">
      <providers>
        <add name="DefaultSessionProvider"
             type="System.Web.Providers.DefaultSessionStateProvider"
             connectionStringName="eurocms.db" />
      </providers>
    </sessionState>-->
    <!--<webParts>
      <personalization defaultProvider="CmsSqlPersonalizationProvider">
        <authorization>
          <allow roles="Administrator,PowerUser,Editor,Author" verbs="enterSharedScope" />
        </authorization>
        <providers>
          <remove name="CmsSqlPersonalizationProvider"/>
          <add name="CmsSqlPersonalizationProvider"
               type="EuroCMS.Provider.CmsSqlPersonalizationProvider"
               connectionStringName="eurocms.db"/>
        </providers>
      </personalization>
    </webParts>-->
    <!--<siteMap defaultProvider="CmsSqlSiteMapProvider" enabled="true">
      <providers>
        <add name="CmsSqlSiteMapProvider"
             type="EuroCMS.Provider.SqlSiteMapProvider"
             description="SQL Server site map provider"
             connectionStringName="eurocms.db"
             securityTrimmingEnabled="true"  />
      </providers>
    </siteMap>-->
    <caching>
      <outputCache enableOutputCache="true" enableFragmentCache="true" sendCacheControlHeader="true" omitVaryStar="true" enableKernelCacheForVaryByStar="true" />
      <outputCacheSettings>
        <outputCacheProfiles>
          <clear />
          <add name="DefaultCacheProfile" enabled="true" duration="86400" location="ServerAndClient" sqlDependency="EuroCMS:cms_articles" varyByCustom="key" varyByControl="none" varyByContentEncoding="none" varyByHeader="none" varyByParam="none" noStore="false" />
        </outputCacheProfiles>
      </outputCacheSettings>
      <sqlCacheDependency enabled="true" pollTime="10000">
        <databases>
          <clear />
          <add name="EuroCMS" connectionStringName="eurocms.db" pollTime="5000" />
        </databases>
      </sqlCacheDependency>
    </caching>
    <machineKey validationKey="767A6A4273755EEC307DFCEA250EF54803499DD835C2D31078414271C7458E1481AB0169BE63FABEB20DEB799D7F1BB522DCF35A997631868481A519D05A4408" decryptionKey="8B6697227CBCA902B1A0925D40FAA00B353F2DF4359D2099" validation="SHA1" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" viewStateEncryptionMode="Always">
      <controls>
        <add tagPrefix="cms" assembly="EuroCMS" namespace="EuroCMS.WebControl" />
        <add tagPrefix="cms" tagName="test" src="~/App_Resource/Test.ascx" />
        <add tagPrefix="plugin" tagName="Search" src="~/Plugins/Search.ascx" />
        <add tagPrefix="plugin" tagName="BreadCrumb" src="~/Plugins/BreadCrumb.ascx" />
        <add tagPrefix="plugin" tagName="StandardProfil" src="~/Plugins/StandardProfil/SecurityCheck.ascx" />
        <add tagPrefix="plugin" tagName="UrunDetay" src="~/Plugins/KaleSeramik/KaleUserControls/UrunDetay.ascx" />
        <add tagPrefix="plugin" tagName="SeriDetay" src="~/Plugins/KaleSeramik/KaleUserControls/SeriDetay.ascx" />
        <add tagPrefix="plugin" tagName="YeniKoleksiyonlar" src="~/Plugins/Kale/YeniKoleksiyonlar.ascx" />
      </controls>
    </pages>
    <trust level="Full" />
  </system.web>
  <system.webServer>
    <!--<modules runAllManagedModulesForAllRequests="true">
      <add name="AntiXssModule" type="EuroCMS.Web.AntiXssModule, EuroCMS" />
    </modules>-->
    <!--<handlers accessPolicy="Read, Script">
      --><!--<add verb="*" path="/sitemap/*.xml" name="SitemapHandler" type="eurocms.handlers.SitemapHandler, eurocms.handlers"/>--><!--
      --><!--<add verb="*" path="/xml/*.xml" name="XmlHandler" type="eurocms.handlers.XmlHandler, eurocms.handlers"/>--><!--
      --><!--<add verb="*" path="*.aspx" allowPathInfo="true" resourceType="Unspecified" name="PageHandler" type="eurocms.handlers.PageHandler, eurocms.handlers"/>--><!--
      --><!--<add verb="*" path="Default.aspx" allowPathInfo="true" resourceType="Unspecified" name="PageHandlerDev" type="eurocms.handlers.PageHandlerDev, eurocms.handlers"/>--><!--
    </handlers>-->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
        <add value="/Default.aspx" />
        <add value="/Page.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="50204800" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff " />
        <!--<add name="Access-Control-Allow-Origin" value="*" />
    <add name="Access-Control-Allow-Headers" value="Content-Type" />
    <add name="Access-Control-Allow-Methods" value="GET, POST, HEAD" />-->
      </customHeaders>
    </httpProtocol>
    <!--<httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/Page.aspx" responseMode="ExecuteURL" />
      <error statusCode="500" path="/Error.aspx" responseMode="ExecuteURL" />
    </httpErrors>-->
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions timeTaken="00:00:00" statusCodes="404" />
        </add>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
    <mailSettings>
      <smtp deliveryMethod="Network" from="web@kale.com.tr">
        <network defaultCredentials="false" host="smtp.gmail.com" clientDomain="" password="kqdVd2DL" port="587" userName="web@kale.com.tr" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <httpRuntime maxRequestLength="4096" enableVersionHeader="false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IURLService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_IBookingService" />
        <binding name="BasicHttpBinding_ICommonService" />
        <binding name="BasicHttpBinding_IHotelBookingService" />
        <binding name="BasicHttpBinding_IHotelService" />
        <binding name="BasicHttpBinding_IMemberService" />
        <binding name="BasicHttpBinding_ITourBookingService" />
        <binding name="BasicHttpBinding_ITourService" />
        <binding name="BasicHttpBinding_IService"><security mode="Transport" /></binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ssl.setur.com.tr/Service/URLService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IURLService" contract="SeturURLService.IURLService" name="BasicHttpBinding_IURLService" />
      <endpoint address="http://ssl.setur.com.tr/Service/BookingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookingService" contract="SeturBookingService.IBookingService" name="BasicHttpBinding_IBookingService" />
      <endpoint address="http://ssl.setur.com.tr/Service/CommonService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommonService" contract="SeturCommonService.ICommonService" name="BasicHttpBinding_ICommonService" />
      <endpoint address="http://ssl.setur.com.tr/Service/HotelBookingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelBookingService" contract="SeturHotelBookingService.IHotelBookingService" name="BasicHttpBinding_IHotelBookingService" />
      <endpoint address="http://ssl.setur.com.tr/Service/HotelService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelService" contract="SeturHotelService.IHotelService" name="BasicHttpBinding_IHotelService" />
      <endpoint address="http://ssl.setur.com.tr/Service/MemberService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberService" contract="SeturMemberService.IMemberService" name="BasicHttpBinding_IMemberService" />
      <endpoint address="http://ssl.setur.com.tr/Service/TourBookingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITourBookingService" contract="SeturTourBookingService.ITourBookingService" name="BasicHttpBinding_ITourBookingService" />
      <endpoint address="http://ssl.setur.com.tr/Service/TourService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITourService" contract="SeturTourService.ITourService" name="BasicHttpBinding_ITourService" />
      <endpoint address="https://diatest.d-teknoloji.com.tr/Dexp_Appointment/AppointmentService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="RandevuService.IService" name="BasicHttpBinding_IService" />
    </client>
    <!--<bindings />
    <client />-->
  </system.serviceModel>
  <applicationSettings>
    <EuroCMS.FrontEnd.Properties.Settings>
      <setting name="EuroCMS_FrontEnd_Salesforce_SforceService" serializeAs="String">
        <value>https://login.salesforce.com/services/Soap/c/41.0/0DF36000000UUb2</value>
      </setting>
      <setting name="EuroCMS_FrontEnd_com_euromsg_member_Member" serializeAs="String">
        <value>https://api.relateddigital.com/live/member.asmx</value>
      </setting>
      <setting name="EuroCMS_FrontEnd_com_euromsg_sendlist_SendList" serializeAs="String">
        <value>https://api.relateddigital.com/live/sendlist.asmx</value>
      </setting>
      <setting name="EuroCMS_FrontEnd_com_euromsg_post_Post" serializeAs="String">
        <value>https://api.relateddigital.com/live/post.asmx</value>
      </setting>
      <setting name="EuroCMS_FrontEnd_com_euromsg_campaign_Campaign" serializeAs="String">
        <value>https://api.relateddigital.com/live/campaign.asmx</value>
      </setting>
      <setting name="EuroCMS_FrontEnd_com_euromsg_report_Report" serializeAs="String">
        <value>https://api.relateddigital.com/live/report.asmx</value>
      </setting>
      <setting name="EuroCMS_FrontEnd_com_euromsg_auth_Auth" serializeAs="String">
        <value>https://api.relateddigital.com/live/auth.asmx</value>
      </setting>
    </EuroCMS.FrontEnd.Properties.Settings>
  </applicationSettings>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="50000000" />
			</webServices>
		</scripting>
	</system.web.extensions>
</configuration>